html {
    background-color: antiquewhite;
    font-size: 30px;
}

/* 1 em = 16 pixels */

body {
    background-color: aqua;
    width: 50%;
    font-size: 3rem;
}

.pai {
    background-color: blue;
    width: 50%;
    font-size: 1.5rem;
}

.filha {
    background-color: orange;
    width: 50%;
    font-size: 0.5rem;
}