/* Caso tenha uma pagina com varios produtos essa seria forma incorreta para utilizar pois ID e unica por pagina (Utilizando ID) */

/*
#produto-01{
    background-color: orange;
}

#produto-02{
    background-color: aquamarine;
}

*/

/* Outro forma para melhorar o codigo

#produto-01, #produto-02{
    background-color: orange;
}

*/
/* ----------- A paritr desse ponto seria utilizando CLASSES --------------- */

.produto-des {
    background-color: orange;
}

.promocao {
    border: solid 20px wheat;
}