div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid orange;
}

.com-border-box {
    background-color: aquamarine;
    /* box-sizing: border-box; */
}

.sem-border-box {
    background-color: purple;
}

/* Largura + padding esquera + padding direita + 
border esquerda + border direita = largura total 
do elemento

100 + 10 + 10 + 10 + 10 = 140

*/

/* Altura + padding de cima + padding de baixo + 
border de cima + border de baixo = largura total 
do elemento

100 + 10 + 10 + 10 + 10 = 140

*/