/* forma inserindo cada lateral separada
margin-top: 30px;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px;*/

/* forma colocando o mesmo valor no topo e nas laterais
margin: 30px 15px; */

/* forma coloca o mesmo valor para todas
margin: 30px */

/* Panddig responsavel por inserir espaço entre o conteudo e a borda do mesmo */

h1 {
    margin: 30px;
    background-color: rgb(0, 255, 170);
    /*Sem padding para da espaço */

    border-style: solid;
    /* Inserindo Bordas com outras cores*/
    border-width: 20px;

    /* border-top-color: blue;
    border-bottom-color: black;
    border-left-color: burlywood;
    border-right-color: orangered; */

    border-color: blue black burlywood orangered;
    /* Sempre utiliza para melhor manutenção no codigo */


}

p {
    margin: 30px 15px;
    padding: 20px;
    background-color: aquamarine;
    /* Com padding para da espaço */

    /* Adicionado borda 
    border-style: solid; 
    border-width: 20px;
    border-color: orange; */

    border: 20px solid orange;
    /*Sempre utiliza para melhor manutenção no codigo */
}