* {
    margin: 0;
}

.elemento {
    color: white;
    font-size: 32px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    left: 100px;
    background-color: crimson;
}

.elemento-relativo {
    position: relative;
    left: 100px;
    background-color: coral;
}
.elemento-absoluto{
    position: absolute; 
    left: 180px;
    background-color: darkblue;
    top: 0;
}
.elemento-relativo-com-filho{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: orchid;
}
.elemento-absoluto-com-pai{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: yellow;
}