* {
    /* Reseta Espaço das opções abaixo) */
    margin: 0;
    padding: 0;
}

ul {
    /*list-style-image: url('./img/icone.png'); */

    background-color: orange;

    list-style: square inside url('./img/icone.png');
}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol {
    /*list-style-image: url('./img/icone.png'); */

    background-color: aquamarine;

}

ol li {
    border: 1px solid black;
    padding: 20px;
}