html {
    font-size: 62.5%;
}

bady {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {
    background-color: orange;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    margin-left: 5px;
}
.menu{
    background-color: white;
    display: flex;
    align-items: center;
}
.menu li a{
    padding: 10px 5px{
        
    }
}