img {
    max-width: 100px;
}
html {
    font-size: 62.5%;
}

bady {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.menu li a:hover {
    background-color: #5BC241;
    color: white;
}

.menu li a.btn{
    background-color: #5BC241;
    border-radius: 1rem;
    margin-left: 3rem;
    color: white;
}