body {
    background-color: orange;
}

.cabecalho {
    padding: 10px 5px;
    background-color: aquamarine;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    /* width: 900px; */
    min-width: 320px;
    max-width: 900px;

    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

.image img {
    width: 100%;
}

/* Media Queries - Aula 13 */
/* Dispositivos extra pequenos (celulares em posição porta retrata, menores do que 576pc)  */

@media (max-width: 576px) {
    .cabecalho {
        text-align: center;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: block;
    }
}